<div ng-controller="detailController">
  <div class="detailProduct">
    <h2>{{detailProduct.title}}</h2>
    <img src="{{detailProduct.imgUrl}}">
  </div>
</div>

<div class="form-style-6">
  <h1>Leave a Review for this Product</h1>
  <form ng-submit="add()">
      <label>Rating: </label>
        <span class="rating">
          <input id="rating5" type="radio" name="rating" value="5" ng-model="review.rating">
          <label for="rating5">5</label>
          <input id="rating4" type="radio" name="rating" value="4" ng-model="review.rating">
          <label for="rating4">4</label>
          <input id="rating3" type="radio" name="rating" value="3" ng-model="review.rating">
          <label for="rating3">3</label>
          <input id="rating2" type="radio" name="rating" value="2" ng-model="review.rating">
          <label for="rating2">2</label>
          <input id="rating1" type="radio" name="rating" value="1" ng-model="review.rating">
          <label for="rating1">1</label>
        </span>
      <textarea rows="6" cols="20" name="reviewText" ng-model="review.text"></textarea>
      <label>Your Name: <input type="text" ng-model="review._user"></label>
      <input type="submit" value="Submit Review" class="btn btn-primary">
  </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
